<div class="col-md-6">
  <h2 class="text-center">Edit Account</h2>

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

  	<div class="form-group">
      <label for="email">Username :</label>
      <input type="email" formControlName="username" placeholder="Username" name="username" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="first_name" placeholder="First Name" name="first_name" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input formControlName="last_name" placeholder="Last name" name="last_name" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="email">Data Created :</label>
      <input type="email" formControlName="created" placeholder="created" name="created" class="form-control" id="created">
    </div>

    <div class="form-group" style="display: none;">
      <label for="email">Password :</label>
      <input type="password" formControlName="password" placeholder="" name="password" class="form-control" id="passwordss">
    </div>

    <button class="btn btn-success">Update</button>


  </form>
</div>