<div id="app">
    <main>
	    
	    <div id="primary" *ngIf="tokenValid" class="p-t-b-100 height-full ">
		    <div class="overlay" *ngIf="isLoading">
			    <div class="overlay__inner">
			        <div class="overlay__content"><span class="spinner"></span></div>
			    </div>
			</div>
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-4 mx-md-auto">
		                <div  class="toast"
						    data-title="Hi, there!"
						    data-message="Success, you will redirect to login page."
						    data-type="success">
						</div>

	                    <div class="text-center">
	                        <img src="assets/img/dummy/u5.png" alt="">
	                        <h3 class="mt-2">Reset Password</h3>
	                        <p class="p-t-b-5">You have requested to reset the password</p>
	                    </div>
	                    <form  [formGroup]="resetPassword"   (ngSubmit)="onSubmit()">
	                        <div class="form-group has-icon" >
		                      
		                        <i class="icon-lock"></i>
	                            <input type="password" formControlName="newPassword" class="form-control form-control-lg"
	                                   placeholder="New Password" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" >
								<div class="invalid-feedback">Minimum 6 characters.</div>
		                        
	                        </div>
	                        <div class="form-group has-icon" ><i class="icon-lock"></i>
	                            <input type="password" class="form-control form-control-lg"
	                                   placeholder="Confirm password" formControlName="confirmPassword" [ngClass]="{'is-invalid':submitted && resetPassword.hasError('notSame')}">
	                            <div class="invalid-feedback">New password and Confirm password doesn't match</div>
	                        </div>
	                        <button type="submit" class="btn btn-success btn-lg btn-block" >
	                        	Reset Password
	                        </button>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    <div *ngIf="!tokenValid"  class="height-full light">
		    <div id="primary" class="content-area"
		         data-bg-possition="center"
		         data-bg-repeat="false"
		         style="background: url('assets/img/icon/icon-circles.png');">
		        <div class="container">
		            <div class="col-xl-8 mx-lg-auto p-t-b-80">
		                <header class="text-center mb-5">
		                    <h1>oops!</h1>
		                    <p class="section-subtitle">Something went wrong. The page you are looking for is gone</p>
		
		                </header>
		                <div class="pt-5 p-t-100 text-center">
		                    <p class="s-256">404</p>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- #primary -->
		</div>
	    <!-- #primary -->
	</main>

</div>



