<div id="app">
  <main>
    <div class="overlay" *ngIf="isLoading">
      <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
      </div>
    </div>
    <div id="primary" class="p-t-b-100 height-full">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mx-md-auto paper-card no-b">
            <div class="text-center">
              <img src="assets/img/ic_logo.png" alt="" style="max-height: 80px">
              <h3 class="my-3 pb-2 s-14">RESET PASSWORD</h3>

            </div>
            <div role="alert" *ngIf="error_message" class="alert alert-danger">{{error_message}}
            </div>
            <form [formGroup]="resetForm" (ngSubmit)="postReset()" class="form-signin">
              <div class="form-group has-icon"><i class="icon-envelope-o"></i>
                <input type="text" class="form-control form-control-lg no-b shadow2" formControlName="new_password" [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }" placeholder="New Password">
                <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                </div>
              </div>
              <div class="form-group has-icon" ><i class="icon-user-secret"></i>
                <input type="password" class="form-control form-control-lg no-b shadow2" formControlName="confirm_password" [ngClass]="{ 'is-invalid': submitted && resetForm.hasError('notSame')}" placeholder="Confirm Password">
                <div *ngIf="submitted && resetForm.hasError('notSame')" class="invalid-feedback">
                  <div >Confirm password doesn't match</div>
                </div>

              </div>

              <button class="btn btn-success btn-lg btn-block no-b shadow2">Reset Password</button>
              <br>
              <a [routerLink]="['/']" class="p-t-b-10 text-blue" style="float: left;">Back to Login</a>
              <!-- <a [routerLink]="['/register']" class="p-t-b-20" style="float: right;">Register</a> -->

            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- #primary -->
  </main>

</div>
