.nav-material>li>.nav-link.active {
    color: white;
}

a {
    color: white;
}

a:hover{
    color: white;
}

.nav-material>li .nav-link.active {
    border: 0;
    background: 0 0;
    border-bottom: 3px solid white;
}

.nav-material>li .nav-link.hover {
   color: white;
}

.crop { 
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis; 
	width:400px; 
}

.mat-tab-header{
    background:#FFF !important;
    border-bottom : 0px;
}
.mat-tab-body-wrapper{
    margin-top:16px;
}


.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
