<div class="page has-sidebar-left">
  <div class="overlay" *ngIf="isLoading">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div>
    <div class="container my-5">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label class="white">
                    <i class="icon icon-home"></i> All
                </ng-template>
                <div class="card-header white b-0 p-3">
                  <form >
                    <div class="form-group has-right-icon m-0">
                      <input class="form-control light r-30" placeholder="Search" type="text" name="search_all"  [(ngModel)]="filterReportAll" >
                      <i class="icon-search"></i>
                    </div>

                  </form>
                </div>
                <table class="table table-hover" [mfData]="data | dataFilter : filterReportAll"  #allReport="mfDataTable" style="background-color: white;" [mfRowsOnPage]="20">
                    <thead>
                    <tr class="no-b font-weight-normal">
                        <th style="width: 30%" class="s-14">
                            <mfDefaultSorter by="title" >NAME OF COMPANY</mfDefaultSorter>
                        </th>
                        <th style="width: 20%" class="s-14">
                            <mfDefaultSorter by="marketer">MARKETER</mfDefaultSorter>
                        </th>
                        <th style="width: 15%" class="s-14">
                            <mfDefaultSorter by="date">DATE</mfDefaultSorter>
                        </th>
                        <th style="width: 5%" class="s-14 text-right">
                            ACTION
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of allReport.data" style="cursor: pointer;">
                        <td (click)="open_contact(user.contact_id)">
                            {{user.title}}
                            <div class="crop">
                                {{user.purpose}}
                            </div>
                            <span *ngFor="let users of user.tags" class="badge badge-success mr-1">
                              {{users}}
                            </span>
                        </td>
                        <td (click)="open_contact(user.contact_id)"> {{user.marketer}}</td>
                        <td (click)="open_contact(user.contact_id)">{{user.date | date:'dd/M/yyyy' }}</td>
                        <td class="text-right py-1 pr-3" width="3%">
                            <ul class="dropdown-menu" style="right: 0px; width: 50px;">
                                <li>
                                    <a class="btn" (click)="open_contact(user.contact_id)">
                                        <small> <i class="icon icon-data_usage text-success"></i> View</small>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn" (click)="confirm_delete(confirm,user.contact_id)">
                                        <small> <i class="icon icon-data_usage text-danger"></i> Delete</small>
                                    </a>
                                </li>
                            </ul>
                            <a href="#" class="nav-link s-24 text-secondary" data-toggle="dropdown" aria-expanded="false">
                                <i class="icon icon-more_vert"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="pt-3">
                                <div class="float-right">
                                    <mfBootstrapPaginator ></mfBootstrapPaginator>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="icon icon-bookmark3"></i> Recently Added
                </ng-template>
              <div class="card-header white b-0 p-3">
                <form >
                  <div class="form-group has-right-icon m-0">
                    <input class="form-control light r-30" placeholder="Search" type="text" name="search_recent"  [(ngModel)]="recent_filter" >
                    <i class="icon-search"></i>
                  </div>

                </form>
              </div>
                <table class="table table-hover" [mfData]="data_recent | dataFilter : recent_filter" #mfrecent="mfDataTable" [mfRowsOnPage]="20" style="background-color: white;">
                    <thead>
                    <tr class="no-b">
                        <th style="width: 30%" class="s-14">
                            <mfDefaultSorter by="title">NAME OF COMPANY</mfDefaultSorter>
                        </th>
                        <th style="width: 20%" class="s-14">
                            <mfDefaultSorter by="marketer">MARKETER</mfDefaultSorter>
                        </th>
                        <th style="width: 15%" class="s-14">
                            <mfDefaultSorter by="date">DATE</mfDefaultSorter>
                        </th>
                        <th style="width: 5%" class="s-14 text-right">
                            ACTION
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of mfrecent.data" style="cursor: pointer">
                        <td (click)="open_contact(user.contact_id)">
                            {{user.title}}
                            <div class="crop">
                                {{user.purpose}}
                            </div>
                            <span *ngFor="let users of user.tags" class="badge badge-success mr-1">
                      {{users}}
                      </span>
                        </td>
                        <td (click)="open_contact(user.contact_id)">{{user.marketer}}</td>
                        <td (click)="open_contact(user.contact_id)">{{user.date | date:'dd/M/yyyy' }}</td>
                        <td class="text-right py-1 pr-2" width="3%">
                            <ul class="dropdown-menu" style="right: 0px; width: 50px;">
                                <li>
                                    <a class="btn" (click)="open_contact(user.contact_id)">
                                        <small> <i class="icon icon-data_usage text-success"></i> View</small>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn" (click)="confirm_delete(confirm,user.contact_id)">
                                        <small> <i class="icon icon-data_usage text-danger"></i> Delete</small>
                                    </a>
                                </li>
                            </ul>
                            <a href="#" class="nav-link s-24 text-secondary" data-toggle="dropdown" aria-expanded="false">
                                <i class="icon icon-more_vert "></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="pt-3">
                                <div class="float-right">
                                    <mfBootstrapPaginator ></mfBootstrapPaginator>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <i class="icon icon-last_page"></i> Last View
                </ng-template>
              <div class="card-header white b-0 p-3">
                <form >
                  <div class="form-group has-right-icon m-0">
                    <input class="form-control light r-30" placeholder="Search" type="text" name="last_filter"  [(ngModel)]="last_filter" >
                    <i class="icon-search"></i>
                  </div>

                </form>
              </div>
                <table class="table table-hover" [mfData]="data_last | dataFilter : last_filter" #mflast="mfDataTable" [mfRowsOnPage]="20" style="background-color: white;">
                    <thead>
                    <tr class="no-b font-weight-normal">
                        <th style="width: 30%" class="s-14">
                            <mfDefaultSorter by="title">NAME OF COMPANY</mfDefaultSorter>
                        </th>
                        <th style="width: 20%" class="s-14">
                            <mfDefaultSorter by="marketer">MARKETER</mfDefaultSorter>
                        </th>
                        <th style="width: 15%" class="s-14">
                            <mfDefaultSorter by="date">DATE</mfDefaultSorter>
                        </th>
                        <th style="width: 5%" class="s-14 text-right">
                            <mfDefaultSorter by="city">ACTION</mfDefaultSorter>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of mflast.data" style="cursor: pointer">
                        <td (click)="open_contact(user.contact_id)">
                            {{user.title}}
                            <div class="crop">
                                {{user.purpose}}
                            </div>
                            <span *ngFor="let users of user.tags" class="badge badge-success mr-1">
                      {{users}}
                      </span>
                        </td >
                        <td (click)="open_contact(user.contact_id)">{{user.marketer}}</td>
                        <td (click)="open_contact(user.contact_id)">{{user.date | date:'dd/M/yyyy' }}</td>
                        <td class="text-right py-1 pr-3" width="3%">
                            <ul class="dropdown-menu" style="right: 0px; width: 50px;">
                                <li>
                                    <a class="btn" (click)="open_contact(user.contact_id)">
                                        <small> <i class="icon icon-data_usage text-success"></i> View</small>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn" (click)="confirm_delete(confirm,user.contact_id)">
                                        <small> <i class="icon icon-data_usage text-danger"></i> Delete</small>
                                    </a>
                                </li>
                            </ul>
                            <a href="#" class="nav-link s-24 text-secondary" data-toggle="dropdown" aria-expanded="false">
                                <i class="icon-more_vert"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" class="pt-3">
                            <div class="float-right">
                                <mfBootstrapPaginator ></mfBootstrapPaginator>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<!-- Modal -->
<ng-template #confirm let-modal>
    <div class="modal-body">

        <div class="col-sm-12">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal-basic-title">Information</h4>
        </div>
        <form (ngSubmit)="delete_contact()">
            <div>
                <div class="card-body">
                    <div class="card-title">Are you sure to delete this item ?? </div>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark float-right mt-2">Delete</button>
        </form>
    </div>
</ng-template>
