<div id="app">
    <main>
        <div id="primary" class="p-t-b-100 height-full">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mx-md-auto paper-card no-b">
                        <div class="text-center">
                            <img src="assets/img/ic_logo.png" alt="" style="max-height: 80px">
                            <h3 class="my-3 pb-2 s-14">Welcome Back</h3>

                        </div>
                        <div role="alert" *ngIf="error_message" class="alert alert-danger">{{error_message}}
            </div>
                        <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-signin">
                        <div class="form-group has-icon"><i class="icon-envelope-o"></i>
                            <input type="text" class="form-control form-control-lg no-b shadow2" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username">
                                <div *ngIf="submitted && f.username.errors" class="error">
                                </div>
                        </div>
                        <div class="form-group has-icon"><i class="icon-user-secret"></i>
                            <input type="password" class="form-control form-control-lg no-b shadow2" formControlName="password" id="pwd" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password">
                            <div *ngIf="submitted && f.password.errors" class="error">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>

                        </div>
                        
                        <button [disabled]="loading" class="btn btn-reddark btn-lg btn-block no-b shadow2">Login</button>
                        <br>
                        <a [routerLink]="['/forget-password']" class="p-t-b-10 text-blue" style="float: left;">Forget Password</a>
                        <!-- <a [routerLink]="['/register']" class="p-t-b-20" style="float: right;">Register</a> -->
                        
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #primary -->
    </main>

</div>
