<div class="page has-sidebar-left">
    <div class="container-fluid animatedParent animateOnce my-3">
        <div class="row my-3">
            <div class="col-sm-6 my-3">
                <h2 class="font-weight-normal">
                    Search Tags
                </h2>
            </div>
            <div class="col-sm-6 my-3">
                <div class="float-right">
                    <button class="btn btn-outline-secondary btn-sm  px-2 float-right" (click)="open(content)"><i class="icon-plus mr-1"></i> KEYWORDS</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3 no-b">
                    <div class="card-header white b-0 p-3">
                        <form [formGroup]="tagsForm">
                            <div class="form-group has-right-icon m-0">
                                <input class="form-control light r-30" placeholder="Search" type="text" formControlName="tags" [(ngModel)]="filterQuery">
                                <i class="icon-search"></i>
                            </div>
                            <!-- <div *ngIf="submitted && f.tags.errors" class="error">
                               <div *ngIf="f.tags.errors.required">
                                   <p style="color: red;">Tags is required</p>
                               </div>
                               </div> -->
                        </form>
                    </div>
                    <div class="collapse show" >
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover earning-box data-tables"   [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                                       [mfRowsOnPage]="10">
                                    <thead class="bg-light">
                                    <tr class="no-b">
                                        <th class="s-14" style="width: 10%">
                                            <mfDefaultSorter by="no">NO</mfDefaultSorter>
                                        </th>
                                        <th class="s-14">
                                            <mfDefaultSorter by="name">KEYWORDS</mfDefaultSorter>
                                        </th>
                                        <th class="s-14 text-right pr-5">ACTION </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let list of mf.data">
                                        <td class="py-1"> {{list.no}} </td>
                                        <td class="py-1">{{list.name}}</td>
                                        <td class="text-right py-1 pr-5" width="3%">
                                            <ul class="dropdown-menu" style="right: 0px; width: 50px;">
                                                <li>
                                                    <a class="btn" (click)="open_udpate(contenx, list.id, list.name)">
                                                        <small> <i class="icon icon-data_usage text-success"></i> Update</small>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn" (click)="confirm_delete(confirm,list.id)">
                                                        <small> <i class="icon icon-data_usage text-danger"></i> Delete</small>
                                                    </a>
                                                </li>
                                            </ul>
                                            <a href="#" class="nav-link s-18 text-secondary" data-toggle="dropdown" aria-expanded="false">
                                                <i class="icon-more_vert"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <div class="float-right my-2">
                                                <mfBootstrapPaginator ></mfBootstrapPaginator>
                                            </div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card no-b shadow">
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <!--
                               <table class="table table-hover" [mfData]="data" #mf="mfDataTable">
                                   <tbody>
                                   <tr *ngFor="let tags of mf.data">
                                       <td class="w-10">
                                           <img src="{{tags.avatar}}" alt="">
                                       </td>
                                       <td>{{tags.marketer}}</td>
                                       <td><span class="badge badge-primary">{{tags.marketer_position}}</span></td>
                                       <td>
                                           <h6>{{tags.title}}</h6>
                                           <small class="text-muted">{{tags.purpose}}</small>
                                       </td>


                                       <td>
                                           <span *ngFor="let dt of tags.tags" class="badge badge-success mr-1">
                                             {{dt}}
                                           </span>
                                       </td>

                                   </tr>

                                   </tbody>
                               </table>
                               -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-body">
        <div class="overlay" *ngIf="isLoading">
            <div class="overlay__inner">
                <div class="overlay__content"><span class="spinner"></span></div>
            </div>
        </div>
        <div class="col-sm-12">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal-basic-titles">Add</h4>
        </div>
        <form [formGroup]="tagsInput" (ngSubmit)="insert()">
            <div>
                <div class="card-body">
                    <div class="card-title">Keywords</div>
                    <input type="text" class="tags-input form-control" formControlName="tags"   placeholder="ex: Samsung,Corporate,Handphone" autofocus=""
                           value=""
                           data-options='{"tagClass": "badge badge-primary"}' required>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark float-right mt-2">Save</button>
        </form>
    </div>
</ng-template>
<ng-template #contenx let-modal>
    <div class="modal-body">
        <div class="overlay" *ngIf="isLoading">
            <div class="overlay__inner">
                <div class="overlay__content"><span class="spinner"></span></div>
            </div>
        </div>
        <div class="col-sm-12">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal-basic-titlee">Update</h4>
        </div>
        <form [formGroup]="tagsUpdate" (ngSubmit)="update()">
            <div>
                <div class="card-body">
                    <div class="card-title">Search Tags</div>
                    <input type="text" class="tags-input form-control" formControlName="tag" value="{{name_tags}}" autofocus=""
                           data-options='{"tagClass": "badge badge-primary"}' required>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark float-right mt-2">Update</button>
        </form>
    </div>
</ng-template>
<ng-template #confirm let-modal>
    <div class="modal-body">
        <div class="overlay" *ngIf="isLoading">
            <div class="overlay__inner">
                <div class="overlay__content"><span class="spinner"></span></div>
            </div>
        </div>
        <div class="col-sm-12">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modal-basic-title">Information</h4>
        </div>
        <form [formGroup]="tagsUpdate" (ngSubmit)="delete()">
            <div>
                <div class="card-body">
                    <div class="card-title">Are you sure to delete this item ?? </div>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark float-right mt-2">Delete</button>
        </form>
    </div>
</ng-template>
