<div id="app">
<aside class="main-sidebar fixed offcanvas shadow">
    <section class="sidebar">
      <div class="mt-3 mb-3 mr-3" style="display: flex;">
        <img src="assets/img/ic_logo.png" alt="" style="height: 70px;margin:auto">
      </div>
        <div class="relative">

            <div class="user-panel p-3 light mb-2">
                <div>
                    <div class="float-left image">
                        <img class="user_avatar" src="assets/img/dev_avatar.jpg" alt="User Image">
                    </div>
                    <div class="float-left info">
                        <h6 class="font-weight-light mt-2 mb-1">{{get_name_user}}</h6>
                        <a href="#"><i class="icon-circle text-primary blink"></i> Online</a>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>

        <ul class="sidebar-menu">


            <li class="treeview">
                <a [routerLink]="['/home']">
                    <i class="icon icon-home red-txt s-18"></i> <span>Home</span></a>
            </li>
            <li class="treeview">
                <a [routerLink]="['/dahsboard', {outlets:{first : ['contact-report']}}]">
                    <i class="icon icon-contact_mail red-txt s-18"></i> <span>Contact Report</span></a>
            </li>
            <!--<li class="treeview">-->
                <!--<a [routerLink]="['/dahsboard', {outlets:{first: ['search-tags']}}]">-->
                    <!--<i class="icon icon-folder-search2 blue-text s-18"></i> <span>Keywords</span></a>-->

            <!--</li>-->
            <li class="treeview">
                <a [routerLink]="['/dahsboard', {outlets:{first: ['settings']}}]">
                    <i class="icon icon-settings2 red-txt s-18"></i> <span>Settings</span></a>
            </li>

            <li class="treeview">
              <a (click)="authConf.logout()" >
                <i class="icon icon-share grey-text s-18"></i> <span>Logout</span></a>
            </li>

        </ul>

    </section>
</aside>
<div class="has-sidebar-left">
    <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
            <div class="search-bar">
                <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text"
                       placeholder="start typing...">
            </div>
            <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false"
               aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
        </div>
    </div>
</div>
    <div class="sticky">
        <div class="navbar navbar-expand navbar-dark d-flex justify-content-between bd-navbar blue accent-3">
            <div class="relative">
                <a href="#" data-toggle="offcanvas" class="paper-nav-toggle pp-nav-toggle">
                    <i></i>
                </a>
            </div>
            <!--Top Menu Start -->
<div class="navbar-custom-menu p-t-10" style="display: none">
    <ul class="nav navbar-nav">

        <!-- User Account-->
        <li class="dropdown custom-dropdown user user-menu">
            <a href="#" class="nav-link" data-toggle="dropdown">
                <img src="assets/img/dev_avatar.jpg" class="user-image" alt="User Image">

            </a>

        </li>
    </ul>
</div>
        </div>
    </div>
</div>

<div class="header">
  
<router-outlet name="first"></router-outlet>

</div>

</div>




