<div class="page has-sidebar-left">
    <header class="blue accent-3 relative">
        <div class="container-fluid text-white">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4>
                        <i class="icon-package"></i>
                        {{title}} # {{id}}
                    </h4>
                </div>
            </div>
        </div>
    </header>
    <div class="overlay" *ngIf="isLoading">
      <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
      </div>
    </div>
    <div class="container-fluid animatedParent animateOnce my-3">
        <form [formGroup]="contact" (ngSubmit)="update()">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <div class="float-right">
                        <button class="btn btn-success btn-sm float-right">Save Contact</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" >
                    <div class="form-group" >
                        <label class="col-form-label p-0" style="display:none">SEARCH TAGS</label>
                        <div class="form-group" style="background-color: white;display: none">
                            <select2 class="select2" style="width: 100%;" [data]="tagsList" (valueChanged)="onItemSelect($event)" [options]="{multiple: true}" [value]="value"></select2>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-6 p-1">
                                <label class="col-form-label p-0">Name Of Company</label>
                                <input type="text" class="form-control" formControlName="title"  style="background-color: white;">

                            </div>
                            <div class="form-group col-6 p-1">
                                <label class="col-form-label p-0">Purpose</label>
                                <input type="text" class="form-control" formControlName="purpose"   style="background-color: white;">

                            </div>
                            <div class="form-group col-6 p-1">
                                <label class="col-form-label p-0">Marketer</label>
                                <input type="text" class="form-control" formControlName="marketer"   style="background-color: white;">

                            </div>
                            <div class="form-group col-6 p-1">
                                <label class="col-form-label p-0">Date Of Meeting</label>
                                <input class="form-control" [ngModelOptions]="{standalone: true}" placeholder="yyyy-mm-dd" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (focus)="d.toggle()" (ngModelChange)="select(model)" type="text">
                            </div>
                        </div>
                        <img *ngFor=" let imgs of text_report;"  src="{{imgs}}" class="p-1">
                        <!--  <textarea class="data" readonly
                           >{{text_report}}</textarea> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
