<div id="app">
    <main>
        <div id="primary" class="p-t-b-100 height-full">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mx-md-auto paper-card">
                        <div class="text-center">
                            <img src="assets/img/dummy/u4.png" alt="">
                            <h2 class="text-center">Verify Code?</h2>
                  <p>You can put code verify here.</p>
                        </div>
                       <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input formControlName="email" class="form-control" placeholder="please enter email again">
                          <input formControlName="code" class="form-control" placeholder="please enter code verify">
                           
                        </div>
                      </div>
                        <button [disabled]="loading" class="btn btn-success btn-lg btn-block">Submit Code</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #primary -->
    </main>

</div>



