<div id="app">
    <main>
      <div class="overlay" *ngIf="isLoading">
        <div class="overlay__inner">
          <div class="overlay__content"><span class="spinner"></span></div>
        </div>
      </div>
        <div id="primary" class="p-t-b-100 height-full">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mx-md-auto paper-card">
                        <div class="text-center">
                            <img src="assets/img/dummy/u4.png" alt="">
                            <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                        </div>
                       <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input formControlName="email" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="please enter email address">
                           <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is not valid text</div>
                        </div>
                        </div>
                      </div>
                        <button [disabled]="loading" class="btn btn-success btn-lg btn-block">Reset Password</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #primary -->
    </main>

</div>



