<div class="has-sidebar-left">
   <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
         <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
            <div class="search-bar">
               <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text"
                      placeholder="start typing...">
            </div>
            <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false"
               aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
         </div>
      </div>
   </div>
   <div class="sticky">
      <div class="navbar navbar-expand navbar-dark d-flex justify-content-between bd-navbar blue accent-3">
         <div class="relative">
            <a href="#" data-toggle="offcanvas" class="paper-nav-toggle pp-nav-toggle">
               <i></i>
            </a>
         </div>
         <!--Top Menu Start -->
         <div class="navbar-custom-menu p-t-10" style="display: none">
            <ul class="nav navbar-nav">
               <!-- User Account-->
               <li class="dropdown custom-dropdown user user-menu">
                  <a href="#" class="nav-link" data-toggle="dropdown">
                     <img src="assets/img/dev_avatar.jpg" class="user-image" alt="User Image">
                  </a>
                  <div class="dropdown-menu ">
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
<div class="page has-sidebar-left">
   <div class="container-fluid animatedParent animateOnce my-3">
      <div id="app">
         <aside class="main-sidebar fixed offcanvas shadow" style="z-index: 777;">
            <section class="sidebar">
               <div class="mt-3 mb-3 mr-3" style="display: flex;">
                  <img src="assets/img/ic_logo.png" alt="" style="height: 70px;margin:auto">
               </div>
               <div class="relative">
                  <div class="user-panel p-3 light mb-2">
                     <div>
                        <div class="float-left image">
                           <img class="user_avatar" src="assets/img/dev_avatar.jpg" alt="User Image">
                        </div>
                        <div class="float-left info">
                           <h6 class="font-weight-light mt-2 mb-1">{{ authConf.get_user().first_name }}</h6>
                           <a href="#"><i class="icon-circle text-primary blink"></i> Online</a>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </div>
               <ul class="sidebar-menu">

                  <li class="treeview">
                     <a [routerLink]="['/home']">
                        <i class="icon icon-home red-txt s-18"></i> <span>Home</span></a>
                  </li>
                  <li class="treeview">
                     <a [routerLink]="['/dahsboard', {outlets:{first : ['contact-report']}}]">
                        <i class="icon icon-contact_mail red-txt s-18"></i> <span>Contact Report</span></a>
                  </li>
                  <!--<li class="treeview">-->
                     <!--<a [routerLink]="['/dahsboard', {outlets:{first: ['search-tags']}}]">-->
                        <!--<i class="icon icon-folder-search2 blue-text s-18"></i> <span>Keywords</span></a>-->
                  <!--</li>-->
                  <li class="treeview">
                     <a [routerLink]="['/dahsboard', {outlets:{first: ['settings']}}]">
                        <i class="icon icon-settings2 red-txt s-18"></i> <span>Settings</span></a>
                  </li>
                 <li class="treeview">
                   <a (click)="authConf.logout()" >
                     <i class="icon icon-share gray-text s-18"></i> <span>Logout</span></a>
                 </li>
               </ul>
            </section>
         </aside>
         <div class="overlay" *ngIf="isLoading">
            <div class="overlay__inner">
               <div class="overlay__content"><span class="spinner"></span></div>
            </div>
         </div>
         <div class="row my-3">
            <div class="col-sm-6 my-2">
               <h2 class="font-weight-normal">
                  <i class="icon-replay_30 mr-2"></i>
                  Recent
               </h2>
            </div>
            <div class="col-sm-6 my-2">
               <div class="float-right">
                  <button type="button" class="btn btn-outline-secondary btn-sm px-3 mr-3" style="display: none;" (click)="openMultiple(multiples)"><i class="icon-plus pr-1"></i>UPLOAD MULTIPLE</button>
                  <button type="button" class="btn btn-outline-secondary btn-sm px-3 " (click)="openMultiple(multiples)"><i class="icon-plus pr-1"></i>UPLOAD</button>
               </div>
            </div>
         </div>
         <div class="page-content">
           <div class="row my-3">
             <div class="col-lg-6">
               <div class="counter-box p-40 white shadow2 r-5">
                 <div class="float-right">
                   <span class="icon icon-search2 s-48"></span>
                 </div>
                 <div class="sc-counter s-36 counter-animated">{{chartMonthly}}</div>
                 <h6 class="counter-title">This Month Search</h6>
               </div>
             </div>
             <div class="col-lg-6 ">
               <div class="counter-box p-40 white shadow2 r-5">
                 <div class="float-right">
                   <span class="icon icon-line-chart s-48"></span>
                 </div>
                 <div class="sc-counter s-36 counter-animated">{{chartTotal}}</div>
                 <h6 class="counter-title">Total Search</h6>
               </div>
             </div>

           </div>
           <div class="row my-2">
             <div class="col-12">
             <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="uploadError">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
               </button>
               <strong>Failed !</strong> {{uploadErrorMsg}}<br>
               <ul style="margin-top:10px">
                 <li *ngFor="let item of errorFile; let i = index" style="font-style: italic">
                    {{item}}
                 </li>
               </ul>
               <br>
               <strong>Please use .docx file to upload for the failed pdf!</strong>
             </div>
             </div>
           </div>
            <table class="table table-stripped table-hover" [mfData]="data" #homeReport="mfDataTable" [mfRowsOnPage]="10"   style="background-color: white;">
               <thead>
               <tr >
                  <th style="width: 30%" class="s-14">
                     <mfDefaultSorter by="title">NAME OF COMPANY</mfDefaultSorter>
                  </th>
                  <th style="width: 20%" class="s-14">
                     <mfDefaultSorter by="marketer">MARKETER</mfDefaultSorter>
                  </th>
                  <th style="width: 15%" class="s-14">
                     <mfDefaultSorter by="date">DATE</mfDefaultSorter>
                  </th>
                  <th style="width: 5%" class="s-14">
                     ACTION
                  </th>
               </tr>
               </thead>
               <tbody>
               <tr *ngFor="let user of homeReport.data" style="cursor: pointer;">
                  <td (click) = previewContact(user.contact_id)>
                     {{user.title}}
                     <div class="crop my-1">
                        {{user.purpose}}
                     </div>
                     <span   *ngFor="let users of user.tags" class="badge badge-success mr-1">
                     {{users}}
                     </span>
                  </td>
                  <td (click) = previewContact(user.contact_id)>{{user.marketer}}</td>
                  <td (click) = previewContact(user.contact_id)>{{user.date | date:'dd/M/yyyy' }}</td>
                  <td class="text-right pr-3">
                     <ul class="dropdown-menu" style="right: 0px; width: 50px;">
                        <li>
                           <a class="btn" (click) = previewContact(user.contact_id)>
                              <small> <i class="icon icon-data_usage text-success"></i> Preview</small>
                           </a>
                        </li>
                        <li>
                           <a class="btn" (click) = open(confirm_del,user.contact_id) >
                              <small> <i class="icon icon-data_usage text-danger"></i> Delete</small>
                           </a>
                        </li>
                     </ul>
                     <a href="#" class="nav-link s-24 text-secondary" data-toggle="dropdown" aria-expanded="false">
                        <i class="icon-more_vert"></i>
                     </a>
                  </td>
               </tr>
               </tbody>
                <tfoot>
                <tr>
                    <td colspan="4" class="pt-3" >
                       <div class="float-right ">
                           <mfBootstrapPaginator ></mfBootstrapPaginator>
                       </div>
                    </td>
                </tr>
                </tfoot>
            </table>
         </div>
      </div>
   </div>
</div>
<ng-template #content let-modal >
   <div class="modal-body">
      <div class="row">
         <div class="col-sm-12 mb-3">
            <button type="button" class="close float-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="card-title" id="modal-basic-title">Upload</h4>
         </div>
      </div>
      <form [formGroup]="uploadForm" (ngSubmit)="insert()">
         <div class="form-group">
            <div class="form-group my-3">
               <dropzone class="dropzone dropzone-file-area pt-4 pb-4" fxLayout="row" fxLayoutAlign="start strech" fxFlex="auto" (success)="onUploadSuccess($event)" [config]="config" [message]="'Upload .PDF, .DOCX, .JPG'" >
               </dropzone>
            </div>
         </div>
         <div class="form-group">
            <label class="col-form-label p-0">TITLE</label>
            <input class="form-control" formControlName="title" type="text">
         </div>
         <div class="form-group">
            <label class="col-form-label p-0">PURPOSE</label>
            <input class="form-control" formControlName="purpose"  type="text">
         </div>
         <div class="form-group">
            <label class="col-form-label p-0">MARKETER</label>
            <input class="form-control" formControlName="marketer"   type="text">
         </div>
         <div class="form-group" style="display:none">
            <label class="col-form-label p-0">SEARCH TAGS</label>
            <select2 class="select2" style="width: 100%"  [data]="tagsList" (valueChanged)="onItemSelect($event)" [options]="{multiple: true}"></select2>
         </div>
         <div class="form-group">
            <label class="col-form-label p-0">DATE OF MEETING</label>
            <input class="form-control" [ngModelOptions]="{standalone: true}" #c2="ngModel" [(ngModel)]="dateOfMeeting" placeholder="yyyy-mm-dd" ngbDatepicker #d="ngbDatepicker" (focus)="d.toggle()"  type="text">
         </div>

         <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark">Save</button>
         </div>
      </form>
   </div>
</ng-template>
<ng-template #multiples let-modal >
   <div class="modal-body">
      <div class="row">
         <div class="col-sm-12 mb-3">
            <button type="button" class="close float-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="card-title" id="modal-basic-titles">Upload ( .doc, .docx, .pdf )</h4>
         </div>
      </div>
      <div class="form-group text-center">
         <div class="form-group mt-2 px-3">
             <angular-file-uploader
               [config]="afuConfig"
               (ApiResponse)="DocUpload($event)">
             </angular-file-uploader>
         </div>
      </div>
   </div>
</ng-template>

<ng-template #confirm_del let-modal>
  <div class="modal-body">
    <div class="col-sm-12">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="modal-basic-title">Information</h4>
    </div>
    <form >
      <div>
        <div class="card-body">
          <div class="card-title">Are you sure to delete this item ?? </div>
        </div>
      </div>
      <button type="button" (click)="delete_contact()" class="btn btn-outline-dark float-right mt-2">Delete</button>
    </form>
  </div>
</ng-template>
