.crop { 
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis; 
	width:400px; 
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.dropzone {
    min-height: 120px !important;
    border: 2px dashed #e1e8ee !important;
    background: white;
    padding: 10px !important;
}

dropzone > .dropzone.dz-wrapper .dz-message {
    position: relative;
    display: inline-block;
    overflow: auto;
    width: 100%;
    min-width: calc(100% - 16px);
    min-height: 100px !important;
    /* max-width: calc(100% - 16px); */
    max-height: 100%;
    /* margin: 8px; */
    border: 2px dashed #e1e8ee;
    background-color: white !important;
    overflow-y: hidden !important;
}

dropzone > .dropzone.dz-wrapper .dz-message .dz-text{
	padding:0 !important;
}


.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.resetBtn{

  margin-bottom: .5rem !important;
}





