<div class="page has-sidebar-left">
    <header class="blue accent-3 relative">
        <div class="container-fluid text-white">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4>
                        <i class="icon-package"></i>
                        {{title_update}}
                    </h4>
                </div>
            </div>

        </div>
    </header>

    <div class="container-fluid animatedParent animateOnce my-3">

        <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <div class="card-header white">
                        <h4 class="s-20 grey-text" style="font-weight: 500;">{{title}}</h4><img class="user_avatar float-right" src="assets/img/dev_avatar.jpg" alt="User Image">
                    </div>
                    <div class="card ">

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="icon icon-user text-grey"></i><strong>First Name</strong> <span class="float-right">
                                               {{data_user[1]}}
                                             </span></li>

                            <li class="list-group-item"><i class="icon icon-vcard text-grey"></i><strong>Last Name</strong> <span class="float-right">
                                               {{data_user[2]}}
                                             </span></li>

                            <li class="list-group-item"><i class="icon icon-id-card-o text-grey"></i><strong>Username</strong> <span class="float-right">{{data_user[3]}}</span></li>

                            <li class="list-group-item"><i class="icon icon-mail text-grey"></i><strong>Email</strong> <span class="float-right">{{data_user[4]}}</span></li>

                            <!--  <li class="list-group-item">
                                              <span class="float-right s-16 text-primary"><a href="javascript:void(0);" (click)="editUser()"><i class="icon-edit"></i></a></span>

                                             </li>
 -->
                        </ul>
                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <div class="card">

                    <div class="card ">
                        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

                            <div class="col-md-6">
                                <span class="s-12">Username : </span>
                                <input formControlName="username" class="form-control r-0 light s-12 " type="text" value="{{data_user[3]}}" disabled>
                            </div>

                            <hr>

                            <div class="col-md-6">
                                <span class="s-12">Email :</span>
                                <input formControlName="email" class="form-control r-0 light s-12 " type="text" value="{{data_user[4]}}" disabled>
                            </div>
                            <hr>

                            <div class="col-md-8">
                                <span class="s-12">First Name : </span>
                                <input formControlName="first_name" placeholder="First Name" class="form-control r-0 light s-12 " type="text">
                            </div>

                            <hr>

                            <div class="col-md-8">
                                <span class="s-12">Last Name :</span>
                                <input formControlName="last_name" placeholder="Last Name" class="form-control r-0 light s-12 " type="text">
                            </div>
                            <hr>

                            <button class="form-control btn btn-reddark">Update</button>

                        </form>

                    </div>

                </div>
            </div>

        </div>

    </div>

</div>
